
# Python cache files.
*.pyc
.pytest_cache/
.spyproject
**/__pycache__/

# Virtual environment
env/

# Ben's Sublime files.
sftp-config.json

# Test code scratch output directories.
actual_output/

# Jupyter checkpoints
.ipynb_checkpoints/

# pytest-cov data
.coverage

# test data output
**/test/data/output/

# documentation generation
doc/html/
opencsp/de430t.bsp
opencsp/app/lookback/de430.bsp
*.bsp

# Example Output
*/example/**

# Lookback Error Logs
*/error_logs
